{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">SignUp</span>
        <form method="post">
          {% csrf_token %} {{ form }}
          <button type="submit" class="waves-effect waves-light btn">
            Enter
          </button>
        </form>
      </div>
      <div class="card-action">
        <a href="/auth/login">LogIn</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
